@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
  }

  * {
    scrollbar-color: #888 #f3f3f3;
    scrollbar-width: thin;
  }

  body {
    overflow: hidden;
    min-height: 100vh;
    @apply bg-neutral-600 font-medium;
  }

  body.dark {
    @apply bg-neutral-700;
  }

  .focusIndicator,
  *:focus {
    box-shadow: 0px 0px 0px 5px rgba(171, 248, 228, 0.6);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  :target {
    @apply scroll-mt-6;
  }

  textarea:-webkit-autofill,
  input:-webkit-autofill {
    -webkit-background-clip: text;
  }

  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover,
  .dark input:-webkit-autofill:focus,
  .dark textarea:-webkit-autofill,
  .dark textarea:-webkit-autofill:hover,
  .dark textarea:-webkit-autofill:focus,
  .dark select:-webkit-autofill,
  .dark select:-webkit-autofill:hover,
  .dark select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgb(37 41 69) inset;
    -webkit-text-fill-color: rgb(235 231 231);
  }
}
